$primary-white: #fff;


$primary-ash: #d8d8d8;
$secondary-ash: #f2f2f2;
$tertiary-ash: #7c7c7c;

//Colors
$primary-orange: #FF481A;
$primary-black: #000000;


$text-ash-secondary: #828282;
$text-ash-primary: #333333;
$primary-green: #219653;
$primary-red: #FF2A1C;
$material-ui-border: rgba(0, 0, 0, 0.23);



$main-transition: 0.5s all ease-in-out;





