.payment-method {
    background-color: #F2F2F2;
    padding: 10.4rem 0;

    &__container {
        max-width: 69.6rem;
        background-color: white;
        border-radius: 5px;
        box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.1);
        padding: 4rem 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        &--card {
            flex: auto;
            width: 100%;
            .card__title {
                padding-bottom: 2.8rem;
                border-bottom: 1px solid #E0E0E0;
                text-align: center;
                h3 {
                    font-size: 2.4rem;
                    font-weight: 300;
                    
                }
                p {
                    color: #4F4F4F;
                    
                }
            }
            .card__options {
                max-width: 39rem;
                margin: 4rem auto 2rem!important;
                
                .MuiFormControl-root {
                    width: 100%;
                    
                    .MuiFormControlLabel-root {
                        margin: 0!important;
                        display: flex;
                        justify-content: space-between;
                        margin: 0.6rem 0!important;

                        .MuiFormControlLabel-label > div {
                            
                            display: flex!important;
                            align-items: center;
                            gap: 2.4rem;
                            img {
                                width: 4rem;
                            }
                            h5 {
                                color: #4F4F4F;
                                font-size: 1.8rem;
                                font-weight: 300;;
                            }
                        }


                    }
                }

                button {
                    margin-top: 3rem;
                }
            }
        }
    }
}