.primary__input {
    // width: 100%;
    // margin-bottom: 2rem;
    position: relative;
    min-width: 25rem!important;
    text-transform: capitalize;
    min-height: 9rem!important;

     
    &--input {
        padding: 1.8rem 2rem;
        font-size: 1.4rem;
        border-radius: 5px;
        border: 1px solid #BDBDBD;
        width: 100%;
        position: relative;

        @include responsive($mobile-l) {
            width: 100%;
        }
    }

    &--left-icon {
        position:absolute;
        align-items: center;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        right:1.5rem;
        cursor: pointer;
    }


}

input {
    font-size: 1.4rem!important;
}

label, .MuiFormControlLabel-label {
    font-size: 1.4rem!important;
}

.custom-field {
    margin-bottom: 3rem!important;

}

.MuiInputLabel-root  {
    background-color: white!important;
}

.MuiFormHelperText-root, .MuiCalendarPicker-root, .MuiInputAdornment-root {
    font-size: 1.6rem!important;
}


.select {
    min-width: 30rem!important;
    border: 1px solid black;
}

.PrivateSwitchBase-input, .Mui-checked{
    color: $primary-orange!important;
    &:checked {
        color: $primary-orange!important
    }
}

.error-input {
    input {
        border: 2px solid #d32f2f!important;
    }
}


.duration__box {
    min-height: 8.5rem!important;
    align-self: flex-start!important;
    min-width: 40rem;

    .error {
        color: #d32f2f;
        padding-left: 1rem
    }
}

.duration__input {
    display: flex;
    align-self: flex-start!important;
    width: 100%;
    flex: none!important;
    font-size: 1.4rem;
    margin-bottom:0.3rem;
    padding:  0.8rem 0rem!important;
    justify-content:space-between!important;
    color: #4F4F4F;
    box-sizing: border-box;
                    border: 1px solid black;
                    align-items: center;
                    border-radius: 5px;
                    border-color: $material-ui-border;

    

    .action {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}