
.nav-custom {
    .nav-item {
        &.secondary {
            padding: 2rem 1rem;
            gap: 2rem;
        }
        &.tertiary {
            margin-top: 6rem;
            padding: 2rem 1rem;
            gap: 1rem;

            h3 {

                color: $primary-orange;
            }
            border-bottom: transparent;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        border-bottom: 1px solid #E0E0E0;
        padding: 1rem;

        .middle {
            flex: 1;
        }
       img {
            width: 35px;
            height: 35px;
            border-radius:50%;
       }

       h3 {
           font-size: 1.4rem;
       }
       p {
           font-size: 1rem;
           color: #828282
       }
        
    } 
}

.nav-dropdown {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0.5rem;
}
.navbar {
    background-color: $primary-black;
    align-items: center;
    padding: 1.4rem 0rem;
   

    &__brand {
        cursor: pointer;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;



        &--left {
            display: flex;
            align-items: center;
            gap: 4rem;

            p {
                font-weight:600;
            }
            .menu-dropdown {
                border: 7px solid yellow!important
            }
        }



        &--right {

             @include responsive($tablet) {
                display: none

         }
            display: flex;
            align-items: center;
            gap: 4rem;
            p {
                font-weight:600;
            }


            .user--profile {
                display: flex;
                align-items: center;
                gap: 2rem;
                img {
                    width: 3.8rem;
                    height: 3.8rem;
                    border-radius: 50%;
                }
            }
        }
    }

    .desktop__logo {
        display: block;
        width: 20rem;
        @include responsive($mobile-l) {
            display: none;
        }
    }

    .mobile__logo {
        display: none;
        @include responsive($mobile-l) {
            display: block;
        }
    }
}