.nav-dropdown {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0.5rem;
}
.navbar {
    background-color: $primary-black;
    align-items: center;
    padding: 1.4rem 0rem;
    // position: sticky;
    // top: 0;
    // z-index: 4000;
    // left: 0;
    // right: 0;

    &__brand {
        cursor: pointer;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;



        &--left {
            display: flex;
            align-items: center;
            gap: 4rem;

            p {
                font-weight:600;
            }
            .menu-dropdown {
                border: 7px solid yellow!important
            }
        }

        &--right {
            display: flex;
            align-items: center;
            gap: 4rem;
            p {
                font-weight:600;
            }


            .user--profile {
                display: flex;
                align-items: center;
                gap: 2rem;
                img {
                    width: 3.8rem;
                    height: 3.8rem;
                    border-radius: 50%;
                }
            }
        }
    }

    .desktop__logo {
        display: block;
        width: 20rem;
        @include responsive($mobile-l) {
            display: none;
        }
    }

    .mobile__logo {
        display: none;
        @include responsive($mobile-l) {
            display: block;
        }
    }
}