.featured-item {
    padding: 8rem 0;
    h3 {
        font-size: 3.3rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    &__slider {
        &--card {
            padding: 0 1.5rem ;
            width: 30rem;
            border: transparent;
            outline: none;
            img {
                height: 34rem;
                width: 100%;;
                object-fit: cover;
            }
        .slider-card-content {
            margin-top: 1rem;

            h5 {

                font-weight: 400;
                font-size: 2.4rem;
            }
        }    
        }
    }
}