.forgot__password {
   .form__group {
       margin-top: 4rem;
   }

   .phone__number {
       margin-top: 1rem;
   }

   .otp__box {
       margin-bottom: 3rem;
       display: flex;
       justify-content: center;
   }

   .checkbox__group {
       display: flex;
       align-items: center;
       gap: 2rem;
       margin-bottom: 1rem;
       label {
           font-size: 1.6rem;
           text-align: left!important;
       }

    }
    button {
        margin-top: 1rem;
    }
}