.home {
    .banner__image {
        height: 67rem;
        display: flex;
        align-items: center;
        // background-image: url('./../../images/hero.jpg');
        background-position: center;
        background-size: contain;
        position: relative;

        &--container  { 
            background-color: black;
            width: 100%;
            height: 67rem;
            position: absolute;
            overflow: hidden;

           
            &.switch {
                img {

                    -webkit-animation: fadeOut 15s infinite;
                     animation: fadeOut 15s infinite;
                  
                    &:nth-child(1) {
                     animation-delay: -1s;
                    }
                    &:nth-child(2) {
                     animation-delay: 4s;
                    }
                    &:nth-child(3) {
                     animation-delay: 8s;
                    }
                }
        
         }
           img {

               height: 100%;
               width: 100%;
               object-fit: cover;
               position: absolute;
               top: 0;
               left: 0;
            
               

            }

            
            
        }

        .content {
            width: 100%;
            color: white;
            z-index: 1000;
            display: block;
        }

        h3 {
            font-weight: 300;
            font-size: 4rem;
            line-height: 6rem;

            span {
                display: block;
            }
        
        }

        p {
            margin-top: 2rem;
            font-size: 1.8rem;
            max-width: 40rem;
            font-weight: 300;
        }

        button {
            margin-top: 2.4rem;
        }

        .banner__arrow {
            position: absolute;
            bottom: 3rem;
        }

        }

        .add__flight {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 3rem;

            
            &--button {
                text-transform: uppercase;
                display: flex;
                gap: 1rem;
                font-size: 1.6rem;
                color: $primary-orange;
                align-items:center;
                justify-self: flex-end;
                font-weight: 700;
            }
        }

        .charter {
            min-height: 81rem;
            background-image: url('./../../images/map.jpg');
            background-position: center;
            background-size: cover;
            padding: 5.2rem 0rem;
        

         &__content {
             background-color: rgba(255, 255, 255, 0.75);
             padding: 2.4rem 10rem 7rem;
             margin-top: 2.5rem;

              @include responsive($tablet) {
                padding: 2.4rem 2rem 7rem;

         }


             &--header {
                 font-size: 3rem;
                 text-align: center;
                 font-weight: 400;
                 text-transform: uppercase;
                 margin-bottom: 3rem;

             }

             .action__button {
                 display: flex;
                 justify-content: center;
             }

             .primary__button {
                    text-align: center;
                    margin: 0 auto;
                    display: inline-block;
             }

             &--form, &--select {
                 display: flex;
                 gap: 2rem;
                 position: relative;
                 align-items: center;

                

                 .trip-icon {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 10%;


                          @include responsive($tablet) {
                           display: none

                        };
                 }

                          @include responsive($tablet) {
                             flex-wrap: wrap

         };
             }

            

             &--select {
                 display: flex;
                 align-items: center;
                 justify-content: space-between;
                & > div {
                    display: flex;
                    gap: 2rem;
                    @include responsive($tablet) {
                             flex-wrap: wrap

         };
                    &:first-child {
                        flex: none;
                        width: 50%;
                             @include responsive($tablet) {
                width: 100%;

         }
                    }

                    

                    &:nth-child(2) {
                        margin-bottom: 3rem;
                        p {
                            color: $primary-orange;
                        }
                        &  > svg {
                            cursor: pointer;
                        }
                    }
                }
             }
         }
            
        }

        .services {
            background-color: $primary-black;
            color: white;

            h3 {
                text-align: center;
                color: white
            }
        
            .service {
                &__card {
                    display: flex;
                    margin-top: 7rem;
                    align-items: stretch;
                    flex-wrap: wrap;
                    
                    gap: 11rem;
                    &--image {
                        flex: 5;
                        height: 54rem;
                        overflow: hidden;
                        img {
                            height: 100%;
                            width: 100%;;
                            object-fit: cover!important;
                        }
                    }
                    &--content {
                        // height: 100%!important;
                        margin-top: 5.6rem;
                        margin-bottom: 4rem;
                        flex: 2;
                        max-width: 40rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h3 {
                            font-weight: 500;
                            font-size: 2.4rem;

                        }

                        p {
                            font-weight: 300;
                            font-size: 1.6rem;
                            margin-top: 2rem;
                            margin-bottom: 2rem;
                        }

                      
                    }
                }
            }
        }

        .premium {
            background-color: #F8F8F8;
         
            .cta {
                margin-top: 6rem;
                text-align: center;
            }

         

            .primary__card {
                &--container {
                        @extend .primary--grid;
                    }
                    
                    &--item {
                        background: white;
                        border-radius: 5px;
                        transition: $main-transition;
                        cursor: pointer;
                        overflow: hidden;

                        &:hover {
                            transform: translateY(-5px);
                            box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.04);
                            
                        }
                        .card__image {
                        
                        overflow: hidden;
                        height: 30rem;
                        width: 100%;
                        img {
                            object-fit: cover;
                            height: 100%;
                            width: 100%;
                            transition: $main-transition;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                    .card__content {
                        padding: 1.6rem;
                        .card__title  {
                            display: flex;
                            justify-content: space-between;
                            
                            h5 {
                                font-size: 1.6rem;
                                font-weight: 500;
                                color: $text-ash-primary;

                            }
                            h5 > span {
                                color: $primary-orange;
                            }
                        }

                        .summary {
                            color: $text-ash-secondary;
                            p {
                                font-size: 1.4rem;
                            }
                        }
                    }
                }


            }
        }

        .destinations {

            .boat__activities {
                margin-top: 10rem;
            }
            &__card--item {
                border-radius: 6px;
                box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.1);
                cursor: pointer;
                transition: $main-transition;
                
                &:hover {
                    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
                    transform: scale(1.05);

                }

            }
            &__card--container {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(290px, 1fr) ) ;
                grid-gap: 2.4rem;
                margin-top: 6rem;

            
                .card__image {
                    position: relative;
                        height: 15rem;

                        .new-tag {
                            top: -2.5rem;
                            right: -3rem ;
                        }

                        .button {
                            bottom: -32px;
                            right: 0;
                            background-color: #F6F6F6;
                            padding: 1rem 2.7rem;
                            border-bottom-left-radius: 10px;
                            border: none;
                            cursor: pointer;
                            color: $primary-orange;
                            text-transform: uppercase;
                            font-weight: 600;
                            font-size: 1.1rem;
                        }


                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }


                }

                .card__content {
                    padding: 1rem 2rem 2.8rem;
                    h5 {
                        font-size: 1.8rem;
                        font-weight: 500;
                        color: $text-ash-primary
                    }

                    p {
                        font-size: 1.6rem;
                        color: $text-ash-secondary;

                        span {
                            margin-right: 0.5rem;
                        }
                    }

                    .small {
                        font-size: 1.45rem;
                    }
                    .description {
                        line-height: 1.8rem;
                        margin-top: 1rem;
                    }
                }

                .card__footer {
                    background-color: #F6F6F6;
                    padding: 1.3rem;
                    display: flex;
                    justify-content: space-between;
                    p {
                        font-size: 1.4rem;
                        padding: 1.2rem;
                        color: $primary-orange;
                        font-weight: 500;
                    }

                    button {
                        background-color:$primary-orange;
                        border: none;
                        color: white;
                        border-radius: 6px;
                        padding: 0.8rem 2.4rem;
                        font-weight: 500;
                        text-transform: uppercase;
                        opacity: 0.5
                    }
                }
            }
        }
}



.absolute {
    position: absolute;
}

.alert {
    color: #5C3200;
    &__header {
        display: flex;
        gap: 1rem;
        align-items: center;
        h3 {
            font-weight: 500;
        }
    }

    
    
    padding: 1rem 1.5rem;
    border-radius: 2px;
    background-color: #FFFAE5;
    border: 1px solid #FFC200;
    
    &__content {
        margin-top: 0.5rem;
        &--content {
            display: flex;
            gap: 1rem;
            align-items: flex-start;
            margin-bottom: 0.5rem;
        }
            &--bullet {
                width: 8px;
                height: 8px;
                margin-top: 0.6rem;
                border-radius: 50%;
                background-color: $primary-orange;
                flex: none;
            }
            h3 {
                font-size: 2.4rem;
            
            } 
            p {
                font-size: 1.6rem;
                text-align: left;
            }
        }
        
}

.primary--grid {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) ) ;
    grid-gap: 7rem;
}

.jumbotron {
    padding: 10rem 0
}

.title {
    color: $primary-black;
    font-size: 3.6rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.premium__filter {
    box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.1);
    max-width: 50rem;
    background-color: white;
    border-radius: 5px;
    padding: 2rem;
    
    &--title {
        font-size: 2.4rem;
        margin-bottom: 3rem;
        font-weight: 500;
    }
    
    label {
        color: #333333;
        margin-bottom: 1.3rem;
        display: block;
    }


    .primary__button {
        margin-top: 4rem;
        margin-left: auto;
        max-width: 11rem!important;
    }
}


.chip {
    label {
       color: #333333;
       margin-bottom: 1.3rem;
       display: block;
    }

    &__filter {
        display: flex;
        gap: 1.5rem;
    flex-wrap: wrap;

        &--chip {
            padding: 0.6rem 1.2rem;
            background-color: white;
            border: 1px solid #BDBDBD;
            border-radius: 5px; 
            cursor: pointer;
    
    
            &.active {
    
            border: 1px solid $primary-orange;
            color: $primary-orange;
            }
        }
    
    }
}


.notification {
    min-height: 60rem;
    &__contents {

        &--tile {
            display: flex;
            gap: 2rem;
            transition: 1s all ease;
            cursor: pointer;
            padding: 2rem 0rem;

            &:hover {
                background-color: #f5f5f5;

            }

            .message {
                flex: auto;

                h3 {
                    font-size: 1.4rem;
                    font-weight: 500; 
                }

                p {
                    color: #BDBDBD;
                    font-size: 1.2rem;
                }
            }

            .svg {
                flex: none;
            }

            

        }

    }
}

   .filter {
                display: flex;
                gap: 2rem;
                &__button {
                    display: flex;
                    border: 1px solid black;
                    justify-content: center;
                    align-items: center;
                    padding: 1.3rem 1.5rem;
                    border-radius: 5px;
                    gap: 2rem;
                    border-color: $material-ui-border
                }
            }
