.signup__success {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &--body {
        margin-top: 4rem;

        h3 {
            text-transform: uppercase;
        }
        p {
            font-size: 1.6rem;
        }
        button {
            margin-top: 2rem;
        }
    }
}   

.signup__otp {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        font-weight: 500;
        margin-bottom: 1.6rem;
    }
    .phone__number {
        color: #4F4F4F;
        span {
            display: block;
            color: $primary-black;
            text-align: center;
            font-weight: 600;
            line-height: 1.3;
            margin-bottom: 3rem;;
        }
    }

  
    .otp__input {
        font-size: 2.5rem;
        
        border: 1px solid #BDBDBD;
        border-radius: 5px;
        margin-right: 0.7rem;
        margin: 0 1rem;
        width: 5rem!important;
        height: 5rem!important;
        text-align: center;
    }

    .resend__code {
        color: #4F4F4F;
        margin-top: 2rem;
        margin-bottom: 3rem;
        span {
            color: $primary-black;
        }
    }
    
}

.signup {
    .info {
        background-color: #FFF3C0;
        padding: 1.4rem;
        margin-bottom: 1.5rem;
        border-radius: 5px;
    }

    .terms__condition {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 2rem;

       

    }
}


input[type='checkbox'] {
    width: 4rem !important;
  height: 3rem !important;
  display: flex;
  border-radius: 5px;
  border: 1px solid #BDBDBD;

  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance:none;
 
    &:checked:after {
        content: '\2714';
        color: white;
    }
    &:checked {
        background-color: $primary-orange;
        border: 1px solid $primary-orange;
    }
}