.center {
  max-width: 1250px;
  margin: 0 auto;

  @include responsive($desktop-l) {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
}


.h-full {
  height: 100%;
}

.pl-100 {
  padding-left: 10rem;
}
.pr-100 {
  padding-right: 10rem;
}

.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right!important;
  
}
.text-left {
  text-align: left!important;
  
}



.bold {
  font-weight: 600;
}

.flex {
  display: flex
}

.items-center {
  @extend .flex;
  align-items: center;
}
.justify-center {
  @extend .flex;
  justify-content: center;
}
.flex-center {
  @extend .flex;
  justify-content: center;
  align-items: center;
}

.main__body {
  background-color: #F8F8F8;
  flex: auto;
  padding: 4rem 0;
  overflow-y: scroll!important;
  
  & > div {
    @extend .center;
  }

}

.auth__body {
  @extend .justify-center;
  background: white;
  padding: 4rem 0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  min-height: 100%;
  

  @include responsive($mobile-l) {
    padding: 4rem 1rem;
  }


}
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}