.center {
  max-width: 1250px;
  margin: 0 auto;

  @include responsive($desktop-l) {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
}


.h-full {
  height: 100%;
}

.pl-100 {
  padding-left: 10rem;
}
.pr-100 {
  padding-right: 10rem;
}

.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right!important;
  
}
.text-left {
  text-align: left!important;
  
}


.custom__counter {
                    display: flex;
                    justify-content: center;
                    padding: 1.2rem 2rem;
                    gap: 2rem;
                    @include responsive($tablet) {
                             flex-wrap: wrap

                    };
                    &.outlined {
                      border: 1px solid #BDBDBD;
box-sizing: border-box;
border-radius: 4px;
}

&.mb {
                      margin-bottom:3rem;

                    }
                  
}


.SnackbarItem-message {
  font-size: 1.2rem;
  font-weight: 500!important;
}

.tab__pane {
  margin: 2rem 0;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #E0E0E0;

  &--item {
      background: transparent;
      padding: 2rem 2rem;
      font-size: 2rem;
      border: none;
      border-bottom: 2px solid transparent;
      outline: none;
      flex: auto;

      color: $text-ash-secondary;
      cursor: pointer;
      transition: $main-transition;
      min-width: 20rem;

      &:hover , &.active{
          background-color: #FFEEE9;
          color: $primary-orange;
          border-bottom: 2px solid $primary-orange;
          
      }
  }
}

.bold {
  font-weight: 600;
}

.flex {
  display: flex
}

.items-center {
  @extend .flex;
  align-items: center;
}
.justify-center {
  @extend .flex;
  justify-content: center;
}
.flex-center {
  @extend .flex;
  justify-content: center;
  align-items: center;
}

.main__body {
  background-color: #F8F8F8;
  flex: auto;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 4rem 3rem;

  overflow-y: scroll!important;
  
  & > div {
    @extend .center;
    width: 100%;
  }

}

.auth__body {
  @extend .justify-center;
  background: white;
  padding: 4rem 0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  min-height: 100%;
  

  @include responsive($mobile-l) {
    padding: 4rem 1rem;
  }


}
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F2F2F2;

}

.h3 {
  font-size: 2.4rem;
}

.primary-color {
  color: $primary-orange;
}

.ash-color {
  color: #4F4F4F
}